* {
    --cms-text: #C7D1DB;
    --cms-text-accent-red: #FF9C8F;
    --cms-text-accent-red-bolder: #FFD2CC;
    --cms-text-accent-orange: #FEC57B;
    --cms-text-accent-orange-bolder: #FFE2BD;
    --cms-text-accent-yellow: #F5CD47;
    --cms-text-accent-yellow-bolder: #F8E6A0;
    --cms-text-accent-green: #7EE2B8;
    --cms-text-accent-green-bolder: #BAF3DB;
    --cms-text-accent-teal: #8BDBE5;
    --cms-text-accent-teal-bolder: #C1F0F5;
    --cms-text-accent-blue: #85B8FF;
    --cms-text-accent-blue-bolder: #CCE0FF;
    --cms-text-accent-purple: #B8ACF6;
    --cms-text-accent-purple-bolder: #DFD8FD;
    --cms-text-accent-magenta: #F797D2;
    --cms-text-accent-magenta-bolder: #FDD0EC;
    --cms-text-accent-gray: #9FADBC;
    --cms-text-accent-gray-bolder: #C7D1DB;
    --cms-text-disabled: #BFDBF847;
    --cms-text-inverse: #161A1D;
    --cms-text-selected: #579DFF;
    --cms-text-brand: #579DFF;
    --cms-text-danger: #FF9C8F;
    --cms-text-warning: #F5CD47;
    --cms-text-warning-inverse: #161A1D;
    --cms-text-success: #7EE2B8;
    --cms-text-discovery: #B8ACF6;
    --cms-text-information: #85B8FF;
    --cms-text-subtlest: #8696A7;
    --cms-text-subtle: #9FADBC;
    --cms-link: #579DFF;
    --cms-link-pressed: #85B8FF;
    --cms-icon: #9FADBC;
    --cms-icon-accent-red: #EF5C48;
    --cms-icon-accent-orange: #F18D13;
    --cms-icon-accent-yellow: #CF9F02;
    --cms-icon-accent-green: #2ABB7F;
    --cms-icon-accent-teal: #37B4C3;
    --cms-icon-accent-blue: #388BFF;
    --cms-icon-accent-purple: #8F7EE7;
    --cms-icon-accent-magenta: #DA62AC;
    --cms-icon-accent-gray: #738496;
    --cms-icon-disabled: #BFDBF847;
    --cms-icon-inverse: #161A1D;
    --cms-icon-selected: #579DFF;
    --cms-icon-brand: #579DFF;
    --cms-icon-danger: #EF5C48;
    --cms-icon-warning: #CF9F02;
    --cms-icon-warning-inverse: #161A1D;
    --cms-icon-success: #2ABB7F;
    --cms-icon-discovery: #8F7EE7;
    --cms-icon-information: #388BFF;
    --cms-icon-subtle: #8696A7;
    --cms-border: #A6C5E229;
    --cms-border-accent-red: #EF5C48;
    --cms-border-accent-orange: #F18D13;
    --cms-border-accent-yellow: #CF9F02;
    --cms-border-accent-green: #2ABB7F;
    --cms-border-accent-teal: #37B4C3;
    --cms-border-accent-blue: #388BFF;
    --cms-border-accent-purple: #8F7EE7;
    --cms-border-accent-magenta: #DA62AC;
    --cms-border-accent-gray: #738496;
    --cms-border-disabled: #A1BDD914;
    --cms-border-focused: #85B8FF;
    --cms-border-input: #A6C5E229;
    --cms-border-inverse: #161A1D;
    --cms-border-selected: #579DFF;
    --cms-border-brand: #579DFF;
    --cms-border-danger: #EF5C48;
    --cms-border-warning: #CF9F02;
    --cms-border-success: #2ABB7F;
    --cms-border-discovery: #8F7EE7;
    --cms-border-information: #388BFF;
    --cms-border-bold: #738496;
    --cms-background-accent-red-subtlest: #391813;
    --cms-background-accent-red-subtler: #601E16;
    --cms-background-accent-red-subtle: #AE2A19;
    --cms-background-accent-red-bolder: #F87462;
    --cms-background-accent-orange-subtlest: #43290F;
    --cms-background-accent-orange-subtler: #5F3811;
    --cms-background-accent-orange-subtle: #974F0C;
    --cms-background-accent-orange-bolder: #FAA53D;
    --cms-background-accent-yellow-subtlest: #3D2E00;
    --cms-background-accent-yellow-subtler: #533F04;
    --cms-background-accent-yellow-subtle: #7F5F01;
    --cms-background-accent-yellow-bolder: #E2B203;
    --cms-background-accent-green-subtlest: #133527;
    --cms-background-accent-green-subtler: #164B35;
    --cms-background-accent-green-subtle: #216E4E;
    --cms-background-accent-green-bolder: #4BCE97;
    --cms-background-accent-teal-subtlest: #153337;
    --cms-background-accent-teal-subtler: #1D474C;
    --cms-background-accent-teal-subtle: #206B74;
    --cms-background-accent-teal-bolder: #60C6D2;
    --cms-background-accent-blue-subtlest: #082145;
    --cms-background-accent-blue-subtler: #09326C;
    --cms-background-accent-blue-subtle: #0055CC;
    --cms-background-accent-blue-bolder: #579DFF;
    --cms-background-accent-purple-subtlest: #231C3F;
    --cms-background-accent-purple-subtler: #352C63;
    --cms-background-accent-purple-subtle: #5E4DB2;
    --cms-background-accent-purple-bolder: #9F8FEF;
    --cms-background-accent-magenta-subtlest: #341829;
    --cms-background-accent-magenta-subtler: #50253F;
    --cms-background-accent-magenta-subtle: #943D73;
    --cms-background-accent-magenta-bolder: #E774BB;
    --cms-background-accent-gray-subtlest: #2C333A;
    --cms-background-accent-gray-subtler: #454F59;
    --cms-background-accent-gray-subtle: #596773;
    --cms-background-accent-gray-bolder: #8696A7;
    --cms-background-disabled: #BCD6F00A;
    --cms-background-input: #1D2125;
    --cms-background-input-hovered: #22272B;
    --cms-background-input-pressed: #1D2125;
    --cms-background-inverse-subtle: #FFFFFF29;
    --cms-background-inverse-subtle-hovered: #FFFFFF3D;
    --cms-background-inverse-subtle-pressed: #FFFFFF52;
    --cms-background-neutral: #A1BDD914;
    --cms-background-neutral-hovered: #A6C5E229;
    --cms-background-neutral-pressed: #BFDBF847;
    --cms-background-neutral-subtle: #00000000;
    --cms-background-neutral-subtle-hovered: #A1BDD914;
    --cms-background-neutral-subtle-pressed: #A6C5E229;
    --cms-background-neutral-bold: #9FADBC;
    --cms-background-neutral-bold-hovered: #B6C2CF;
    --cms-background-neutral-bold-pressed: #C7D1DB;
    --cms-background-selected: #082145;
    --cms-background-selected-hovered: #09326C;
    --cms-background-selected-pressed: #0055CC;
    --cms-background-selected-bold: #579DFF;
    --cms-background-selected-bold-hovered: #85B8FF;
    --cms-background-selected-bold-pressed: #CCE0FF;
    --cms-background-brand-bold: #579DFF;
    --cms-background-brand-bold-hovered: #85B8FF;
    --cms-background-brand-bold-pressed: #CCE0FF;
    --cms-background-danger: #391813;
    --cms-background-danger-hovered: #601E16;
    --cms-background-danger-pressed: #AE2A19;
    --cms-background-danger-bold: #F87462;
    --cms-background-danger-bold-hovered: #FF9C8F;
    --cms-background-danger-bold-pressed: #FFD2CC;
    --cms-background-warning: #3D2E00;
    --cms-background-warning-hovered: #533F04;
    --cms-background-warning-pressed: #7F5F01;
    --cms-background-warning-bold: #E2B203;
    --cms-background-warning-bold-hovered: #F5CD47;
    --cms-background-warning-bold-pressed: #F8E6A0;
    --cms-background-success: #133527;
    --cms-background-success-hovered: #164B35;
    --cms-background-success-pressed: #216E4E;
    --cms-background-success-bold: #4BCE97;
    --cms-background-success-bold-hovered: #7EE2B8;
    --cms-background-success-bold-pressed: #BAF3DB;
    --cms-background-discovery: #231C3F;
    --cms-background-discovery-hovered: #352C63;
    --cms-background-discovery-pressed: #5E4DB2;
    --cms-background-discovery-bold: #9F8FEF;
    --cms-background-discovery-bold-hovered: #B8ACF6;
    --cms-background-discovery-bold-pressed: #DFD8FD;
    --cms-background-information: #082145;
    --cms-background-information-hovered: #09326C;
    --cms-background-information-pressed: #0055CC;
    --cms-background-information-bold: #579DFF;
    --cms-background-information-bold-hovered: #85B8FF;
    --cms-background-information-bold-pressed: #CCE0FF;
    --cms-blanket: #03040442;
    --cms-blanket-selected: #1D7AFC14;
    --cms-blanket-danger: #E3493514;
    --cms-interaction-hovered: #ffffff33;
    --cms-interaction-pressed: #ffffff5c;
    --cms-skeleton: #A1BDD914;
    --cms-skeleton-subtle: #BCD6F00A;
    --cms-chart-categorical-1: #1D9AAA;
    --cms-chart-categorical-1-hovered: #37B4C3;
    --cms-chart-categorical-2: #B8ACF6;
    --cms-chart-categorical-2-hovered: #DFD8FD;
    --cms-chart-categorical-3: #D97008;
    --cms-chart-categorical-3-hovered: #F18D13;
    --cms-chart-categorical-4: #F797D2;
    --cms-chart-categorical-4-hovered: #FDD0EC;
    --cms-chart-categorical-5: #CCE0FF;
    --cms-chart-categorical-5-hovered: #E9F2FF;
    --cms-chart-categorical-6: #8270DB;
    --cms-chart-categorical-6-hovered: #8F7EE7;
    --cms-chart-categorical-7: #FDD0EC;
    --cms-chart-categorical-7-hovered: #FFECF8;
    --cms-chart-categorical-8: #FEC57B;
    --cms-chart-categorical-8-hovered: #FFE2BD;
    --cms-chart-neutral: #738496;
    --cms-chart-neutral-hovered: #8696A7;
    --cms-chart-red-bold: #E34935;
    --cms-chart-red-bold-hovered: #EF5C48;
    --cms-chart-red-bolder: #EF5C48;
    --cms-chart-red-bolder-hovered: #F87462;
    --cms-chart-red-boldest: #FF9C8F;
    --cms-chart-red-boldest-hovered: #FFD2CC;
    --cms-chart-orange-bold: #F18D13;
    --cms-chart-orange-bold-hovered: #FAA53D;
    --cms-chart-orange-bolder: #FAA53D;
    --cms-chart-orange-bolder-hovered: #FEC57B;
    --cms-chart-orange-boldest: #FEC57B;
    --cms-chart-orange-boldest-hovered: #FFE2BD;
    --cms-chart-yellow-bold: #CF9F02;
    --cms-chart-yellow-bold-hovered: #E2B203;
    --cms-chart-yellow-bolder: #E2B203;
    --cms-chart-yellow-bolder-hovered: #F5CD47;
    --cms-chart-yellow-boldest: #F5CD47;
    --cms-chart-yellow-boldest-hovered: #F8E6A0;
    --cms-chart-green-bold: #2ABB7F;
    --cms-chart-green-bold-hovered: #4BCE97;
    --cms-chart-green-bolder: #4BCE97;
    --cms-chart-green-bolder-hovered: #7EE2B8;
    --cms-chart-green-boldest: #7EE2B8;
    --cms-chart-green-boldest-hovered: #BAF3DB;
    --cms-chart-teal-bold: #37B4C3;
    --cms-chart-teal-bold-hovered: #60C6D2;
    --cms-chart-teal-bolder: #60C6D2;
    --cms-chart-teal-bolder-hovered: #8BDBE5;
    --cms-chart-teal-boldest: #8BDBE5;
    --cms-chart-teal-boldest-hovered: #C1F0F5;
    --cms-chart-blue-bold: #1D7AFC;
    --cms-chart-blue-bold-hovered: #388BFF;
    --cms-chart-blue-bolder: #388BFF;
    --cms-chart-blue-bolder-hovered: #579DFF;
    --cms-chart-blue-boldest: #85B8FF;
    --cms-chart-blue-boldest-hovered: #CCE0FF;
    --cms-chart-purple-bold: #8270DB;
    --cms-chart-purple-bold-hovered: #8F7EE7;
    --cms-chart-purple-bolder: #8F7EE7;
    --cms-chart-purple-bolder-hovered: #9F8FEF;
    --cms-chart-purple-boldest: #B8ACF6;
    --cms-chart-purple-boldest-hovered: #DFD8FD;
    --cms-chart-magenta-bold: #CD519D;
    --cms-chart-magenta-bold-hovered: #DA62AC;
    --cms-chart-magenta-bolder: #DA62AC;
    --cms-chart-magenta-bolder-hovered: #E774BB;
    --cms-chart-magenta-boldest: #F797D2;
    --cms-chart-magenta-boldest-hovered: #FDD0EC;
    --cms-chart-gray-bold: #738496;
    --cms-chart-gray-bold-hovered: #8696A7;
    --cms-chart-gray-bolder: #8696A7;
    --cms-chart-gray-bolder-hovered: #9FADBC;
    --cms-chart-gray-boldest: #9FADBC;
    --cms-chart-gray-boldest-hovered: #B6C2CF;
    --cms-chart-brand: #388BFF;
    --cms-chart-brand-hovered: #579DFF;
    --cms-chart-danger: #E34935;
    --cms-chart-danger-hovered: #EF5C48;
    --cms-chart-danger-bold: #FF9C8F;
    --cms-chart-danger-bold-hovered: #FFD2CC;
    --cms-chart-warning: #CF9F02;
    --cms-chart-warning-hovered: #E2B203;
    --cms-chart-warning-bold: #F5CD47;
    --cms-chart-warning-bold-hovered: #F8E6A0;
    --cms-chart-success: #2ABB7F;
    --cms-chart-success-hovered: #4BCE97;
    --cms-chart-success-bold: #7EE2B8;
    --cms-chart-success-bold-hovered: #BAF3DB;
    --cms-chart-discovery: #8270DB;
    --cms-chart-discovery-hovered: #8F7EE7;
    --cms-chart-discovery-bold: #B8ACF6;
    --cms-chart-discovery-bold-hovered: #DFD8FD;
    --cms-chart-information: #1D7AFC;
    --cms-chart-information-hovered: #388BFF;
    --cms-chart-information-bold: #85B8FF;
    --cms-chart-information-bold-hovered: #CCE0FF;
    --cms-surface: #161A1D;
    --cms-surface-hovered: #1D2125;
    --cms-surface-pressed: #22272B;
    --cms-surface-overlay: #22272B;
    --cms-surface-overlay-hovered: #2C333A;
    --cms-surface-overlay-pressed: #454F59;
    --cms-surface-raised: #1D2125;
    --cms-surface-raised-hovered: #22272B;
    --cms-surface-raised-pressed: #2C333A;
    --cms-surface-sunken: #101214;
    --cms-shadow-overflow: 0px 0px 12px #0304048F, 0px 0px 1px #03040480;
    --cms-shadow-overflow-perimeter: #03040480;
    --cms-shadow-overflow-spread: #0304048f;
    --cms-shadow-overlay: inset 0px 0px 0px 1px #BCD6F00A, 0px 8px 12px #0304045C, 0px 0px 1px #03040480;
    --cms-shadow-raised: inset 0px 0px 0px 1px #00000000, 0px 1px 1px #03040480, 0px 0px 1px #03040480;
    --cms-opacity-disabled: 0.4;
    --cms-opacity-loading: 0.2;
    --cms-UNSAFE-transparent: transparent;
}

[data-theme="light"] * {
    --cms-text: #172B4D;
    --cms-text-accent-red: #AE2A19;
    --cms-text-accent-red-bolder: #601E16;
    --cms-text-accent-orange: #974F0C;
    --cms-text-accent-orange-bolder: #5F3811;
    --cms-text-accent-yellow: #7F5F01;
    --cms-text-accent-yellow-bolder: #533F04;
    --cms-text-accent-green: #216E4E;
    --cms-text-accent-green-bolder: #164B35;
    --cms-text-accent-teal: #206B74;
    --cms-text-accent-teal-bolder: #1D474C;
    --cms-text-accent-blue: #0055CC;
    --cms-text-accent-blue-bolder: #09326C;
    --cms-text-accent-purple: #5E4DB2;
    --cms-text-accent-purple-bolder: #352C63;
    --cms-text-accent-magenta: #943D73;
    --cms-text-accent-magenta-bolder: #50253F;
    --cms-text-accent-gray: #44546F;
    --cms-text-accent-gray-bolder: #091E42;
    --cms-text-disabled: #091E424F;
    --cms-text-inverse: #FFFFFF;
    --cms-text-selected: #0C66E4;
    --cms-text-brand: #0C66E4;
    --cms-text-danger: #AE2A19;
    --cms-text-warning: #974F0C;
    --cms-text-warning-inverse: #172B4D;
    --cms-text-success: #216E4E;
    --cms-text-discovery: #5E4DB2;
    --cms-text-information: #0055CC;
    --cms-text-subtlest: #626F86;
    --cms-text-subtle: #44546F;
    --cms-link: #0C66E4;
    --cms-link-pressed: #0055CC;
    --cms-icon: #44546F;
    --cms-icon-accent-red: #E34935;
    --cms-icon-accent-orange: #D97008;
    --cms-icon-accent-yellow: #B38600;
    --cms-icon-accent-green: #22A06B;
    --cms-icon-accent-teal: #1D9AAA;
    --cms-icon-accent-blue: #1D7AFC;
    --cms-icon-accent-purple: #8270DB;
    --cms-icon-accent-magenta: #CD519D;
    --cms-icon-accent-gray: #758195;
    --cms-icon-disabled: #091E424F;
    --cms-icon-inverse: #FFFFFF;
    --cms-icon-selected: #0C66E4;
    --cms-icon-brand: #0C66E4;
    --cms-icon-danger: #E34935;
    --cms-icon-warning: #D97008;
    --cms-icon-warning-inverse: #172B4D;
    --cms-icon-success: #22A06B;
    --cms-icon-discovery: #8270DB;
    --cms-icon-information: #1D7AFC;
    --cms-icon-subtle: #626F86;
    --cms-border: #091E4224;
    --cms-border-accent-red: #E34935;
    --cms-border-accent-orange: #D97008;
    --cms-border-accent-yellow: #B38600;
    --cms-border-accent-green: #22A06B;
    --cms-border-accent-teal: #1D9AAA;
    --cms-border-accent-blue: #1D7AFC;
    --cms-border-accent-purple: #8270DB;
    --cms-border-accent-magenta: #CD519D;
    --cms-border-accent-gray: #758195;
    --cms-border-disabled: #091E420F;
    --cms-border-focused: #388BFF;
    --cms-border-input: #091E4224;
    --cms-border-inverse: #FFFFFF;
    --cms-border-selected: #0C66E4;
    --cms-border-brand: #0C66E4;
    --cms-border-danger: #E34935;
    --cms-border-warning: #D97008;
    --cms-border-success: #22A06B;
    --cms-border-discovery: #8270DB;
    --cms-border-information: #1D7AFC;
    --cms-border-bold: #758195;
    --cms-background-accent-red-subtlest: #FFEDEB;
    --cms-background-accent-red-subtler: #FFD2CC;
    --cms-background-accent-red-subtle: #F87462;
    --cms-background-accent-red-bolder: #CA3521;
    --cms-background-accent-orange-subtlest: #FFF4E5;
    --cms-background-accent-orange-subtler: #FFE2BD;
    --cms-background-accent-orange-subtle: #FAA53D;
    --cms-background-accent-orange-bolder: #B65C02;
    --cms-background-accent-yellow-subtlest: #FFF7D6;
    --cms-background-accent-yellow-subtler: #F8E6A0;
    --cms-background-accent-yellow-subtle: #E2B203;
    --cms-background-accent-yellow-bolder: #946F00;
    --cms-background-accent-green-subtlest: #DFFCF0;
    --cms-background-accent-green-subtler: #BAF3DB;
    --cms-background-accent-green-subtle: #4BCE97;
    --cms-background-accent-green-bolder: #1F845A;
    --cms-background-accent-teal-subtlest: #E3FAFC;
    --cms-background-accent-teal-subtler: #C1F0F5;
    --cms-background-accent-teal-subtle: #60C6D2;
    --cms-background-accent-teal-bolder: #1D7F8C;
    --cms-background-accent-blue-subtlest: #E9F2FF;
    --cms-background-accent-blue-subtler: #CCE0FF;
    --cms-background-accent-blue-subtle: #579DFF;
    --cms-background-accent-blue-bolder: #0C66E4;
    --cms-background-accent-purple-subtlest: #F3F0FF;
    --cms-background-accent-purple-subtler: #DFD8FD;
    --cms-background-accent-purple-subtle: #9F8FEF;
    --cms-background-accent-purple-bolder: #6E5DC6;
    --cms-background-accent-magenta-subtlest: #FFECF8;
    --cms-background-accent-magenta-subtler: #FDD0EC;
    --cms-background-accent-magenta-subtle: #E774BB;
    --cms-background-accent-magenta-bolder: #AE4787;
    --cms-background-accent-gray-subtlest: #F1F2F4;
    --cms-background-accent-gray-subtler: #DCDFE4;
    --cms-background-accent-gray-subtle: #8590A2;
    --cms-background-accent-gray-bolder: #626F86;
    --cms-background-disabled: #091E4208;
    --cms-background-input: #FFFFFF;
    --cms-background-input-hovered: #F7F8F9;
    --cms-background-input-pressed: #FFFFFF;
    --cms-background-inverse-subtle: #00000029;
    --cms-background-inverse-subtle-hovered: #0000003D;
    --cms-background-inverse-subtle-pressed: #00000052;
    --cms-background-neutral: #091E420F;
    --cms-background-neutral-hovered: #091E4224;
    --cms-background-neutral-pressed: #091E424F;
    --cms-background-neutral-subtle: #00000000;
    --cms-background-neutral-subtle-hovered: #091E420F;
    --cms-background-neutral-subtle-pressed: #091E4224;
    --cms-background-neutral-bold: #44546F;
    --cms-background-neutral-bold-hovered: #2C3E5D;
    --cms-background-neutral-bold-pressed: #172B4D;
    --cms-background-selected: #E9F2FF;
    --cms-background-selected-hovered: #CCE0FF;
    --cms-background-selected-pressed: #85B8FF;
    --cms-background-selected-bold: #0C66E4;
    --cms-background-selected-bold-hovered: #0055CC;
    --cms-background-selected-bold-pressed: #09326C;
    --cms-background-brand-bold: #0C66E4;
    --cms-background-brand-bold-hovered: #0055CC;
    --cms-background-brand-bold-pressed: #09326C;
    --cms-background-danger: #FFEDEB;
    --cms-background-danger-hovered: #FFD2CC;
    --cms-background-danger-pressed: #FF9C8F;
    --cms-background-danger-bold: #CA3521;
    --cms-background-danger-bold-hovered: #AE2A19;
    --cms-background-danger-bold-pressed: #601E16;
    --cms-background-warning: #FFF7D6;
    --cms-background-warning-hovered: #F8E6A0;
    --cms-background-warning-pressed: #F5CD47;
    --cms-background-warning-bold: #E2B203;
    --cms-background-warning-bold-hovered: #CF9F02;
    --cms-background-warning-bold-pressed: #B38600;
    --cms-background-success: #DFFCF0;
    --cms-background-success-hovered: #BAF3DB;
    --cms-background-success-pressed: #7EE2B8;
    --cms-background-success-bold: #1F845A;
    --cms-background-success-bold-hovered: #216E4E;
    --cms-background-success-bold-pressed: #164B35;
    --cms-background-discovery: #F3F0FF;
    --cms-background-discovery-hovered: #DFD8FD;
    --cms-background-discovery-pressed: #B8ACF6;
    --cms-background-discovery-bold: #6E5DC6;
    --cms-background-discovery-bold-hovered: #5E4DB2;
    --cms-background-discovery-bold-pressed: #352C63;
    --cms-background-information: #E9F2FF;
    --cms-background-information-hovered: #CCE0FF;
    --cms-background-information-pressed: #85B8FF;
    --cms-background-information-bold: #0C66E4;
    --cms-background-information-bold-hovered: #0055CC;
    --cms-background-information-bold-pressed: #09326C;
    --cms-blanket: #091E427D;
    --cms-blanket-selected: #388BFF14;
    --cms-blanket-danger: #EF5C4814;
    --cms-interaction-hovered: #00000029;
    --cms-interaction-pressed: #00000052;
    --cms-skeleton: #091E420F;
    --cms-skeleton-subtle: #091E4208;
    --cms-chart-categorical-1: #1D9AAA;
    --cms-chart-categorical-1-hovered: #1D7F8C;
    --cms-chart-categorical-2: #5E4DB2;
    --cms-chart-categorical-2-hovered: #352C63;
    --cms-chart-categorical-3: #D97008;
    --cms-chart-categorical-3-hovered: #B65C02;
    --cms-chart-categorical-4: #943D73;
    --cms-chart-categorical-4-hovered: #50253F;
    --cms-chart-categorical-5: #09326C;
    --cms-chart-categorical-5-hovered: #082145;
    --cms-chart-categorical-6: #8F7EE7;
    --cms-chart-categorical-6-hovered: #8270DB;
    --cms-chart-categorical-7: #50253F;
    --cms-chart-categorical-7-hovered: #341829;
    --cms-chart-categorical-8: #974F0C;
    --cms-chart-categorical-8-hovered: #5F3811;
    --cms-chart-neutral: #8590A2;
    --cms-chart-neutral-hovered: #758195;
    --cms-chart-red-bold: #EF5C48;
    --cms-chart-red-bold-hovered: #E34935;
    --cms-chart-red-bolder: #E34935;
    --cms-chart-red-bolder-hovered: #CA3521;
    --cms-chart-red-boldest: #AE2A19;
    --cms-chart-red-boldest-hovered: #601E16;
    --cms-chart-orange-bold: #D97008;
    --cms-chart-orange-bold-hovered: #B65C02;
    --cms-chart-orange-bolder: #B65C02;
    --cms-chart-orange-bolder-hovered: #974F0C;
    --cms-chart-orange-boldest: #974F0C;
    --cms-chart-orange-boldest-hovered: #5F3811;
    --cms-chart-yellow-bold: #B38600;
    --cms-chart-yellow-bold-hovered: #946F00;
    --cms-chart-yellow-bolder: #946F00;
    --cms-chart-yellow-bolder-hovered: #7F5F01;
    --cms-chart-yellow-boldest: #7F5F01;
    --cms-chart-yellow-boldest-hovered: #533F04;
    --cms-chart-green-bold: #22A06B;
    --cms-chart-green-bold-hovered: #1F845A;
    --cms-chart-green-bolder: #1F845A;
    --cms-chart-green-bolder-hovered: #216E4E;
    --cms-chart-green-boldest: #216E4E;
    --cms-chart-green-boldest-hovered: #164B35;
    --cms-chart-teal-bold: #1D9AAA;
    --cms-chart-teal-bold-hovered: #1D7F8C;
    --cms-chart-teal-bolder: #1D7F8C;
    --cms-chart-teal-bolder-hovered: #206B74;
    --cms-chart-teal-boldest: #206B74;
    --cms-chart-teal-boldest-hovered: #1D474C;
    --cms-chart-blue-bold: #388BFF;
    --cms-chart-blue-bold-hovered: #1D7AFC;
    --cms-chart-blue-bolder: #1D7AFC;
    --cms-chart-blue-bolder-hovered: #0C66E4;
    --cms-chart-blue-boldest: #0055CC;
    --cms-chart-blue-boldest-hovered: #09326C;
    --cms-chart-purple-bold: #8F7EE7;
    --cms-chart-purple-bold-hovered: #8270DB;
    --cms-chart-purple-bolder: #8270DB;
    --cms-chart-purple-bolder-hovered: #6E5DC6;
    --cms-chart-purple-boldest: #5E4DB2;
    --cms-chart-purple-boldest-hovered: #352C63;
    --cms-chart-magenta-bold: #DA62AC;
    --cms-chart-magenta-bold-hovered: #CD519D;
    --cms-chart-magenta-bolder: #CD519D;
    --cms-chart-magenta-bolder-hovered: #AE4787;
    --cms-chart-magenta-boldest: #943D73;
    --cms-chart-magenta-boldest-hovered: #50253F;
    --cms-chart-gray-bold: #8590A2;
    --cms-chart-gray-bold-hovered: #758195;
    --cms-chart-gray-bolder: #758195;
    --cms-chart-gray-bolder-hovered: #626F86;
    --cms-chart-gray-boldest: #44546F;
    --cms-chart-gray-boldest-hovered: #2C3E5D;
    --cms-chart-brand: #1D7AFC;
    --cms-chart-brand-hovered: #0C66E4;
    --cms-chart-danger: #EF5C48;
    --cms-chart-danger-hovered: #E34935;
    --cms-chart-danger-bold: #AE2A19;
    --cms-chart-danger-bold-hovered: #601E16;
    --cms-chart-warning: #B38600;
    --cms-chart-warning-hovered: #946F00;
    --cms-chart-warning-bold: #7F5F01;
    --cms-chart-warning-bold-hovered: #533F04;
    --cms-chart-success: #22A06B;
    --cms-chart-success-hovered: #1F845A;
    --cms-chart-success-bold: #216E4E;
    --cms-chart-success-bold-hovered: #164B35;
    --cms-chart-discovery: #8F7EE7;
    --cms-chart-discovery-hovered: #8270DB;
    --cms-chart-discovery-bold: #5E4DB2;
    --cms-chart-discovery-bold-hovered: #352C63;
    --cms-chart-information: #388BFF;
    --cms-chart-information-hovered: #1D7AFC;
    --cms-chart-information-bold: #0055CC;
    --cms-chart-information-bold-hovered: #09326C;
    --cms-surface: #FFFFFF;
    --cms-surface-hovered: #F1F2F4;
    --cms-surface-pressed: #DCDFE4;
    --cms-surface-overlay: #FFFFFF;
    --cms-surface-overlay-hovered: #F1F2F4;
    --cms-surface-overlay-pressed: #DCDFE4;
    --cms-surface-raised: #FFFFFF;
    --cms-surface-raised-hovered: #F1F2F4;
    --cms-surface-raised-pressed: #DCDFE4;
    --cms-surface-sunken: #F7F8F9;
    --cms-shadow-overflow: 0px 0px 8px #091E4229, 0px 0px 1px #091E421F;
    --cms-shadow-overflow-perimeter: #091e421f;
    --cms-shadow-overflow-spread: #091e4229;
    --cms-shadow-overlay: 0px 8px 12px #091E4226, 0px 0px 1px #091E424F;
    --cms-shadow-raised: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F;
    --cms-opacity-disabled: 0.4;
    --cms-opacity-loading: 0.2;
    --cms-UNSAFE-transparent: transparent;
}